.jumbotron {
  text-align: center;
  background-image: url("../img/haunting3.jpg");
  background-position: center;
}

h1.jumbotron {
  color: rgb(158, 41, 41);
  outline: black;
}

#questionWarning {
  color: red;
  display: none;
}

#result {
  display: none;
}